<div class="buttom-content-right-list">
    <label>Access Point Groups</label><a href="#">add</a>
    <div class="groups">
	    <div>9898</div>
	    <div>825369</div>
    </div>
</div>
<div class="buttom-content-right-list">
    <label>User Groups</label><a href="#">add</a>
     <div class="groups">
	    <div>Ortega Teachers</div>
    </div>
</div>