<div class="buttom-content-left">
	<form class="form-horizontal">
		<label>Schedule</label>
		<div class="form-group form-group-sm">
			<div class="checkbox">
     			<label class="col-sm-2 control-label"> <input type="checkbox"> Monday</label>
     			<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start">
				</div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End">
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<div class="checkbox">
     			<label class="col-sm-2 control-label"> <input type="checkbox"> Tuesday</label>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start">
				</div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End">
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<div class="checkbox">
     			<label class="col-sm-2 control-label"> <input type="checkbox"> Wednesday</label>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start">
				</div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End">
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<div class="checkbox">
     			<label class="col-sm-2 control-label"> <input type="checkbox"> Saturday</label>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start">
				</div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End">
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<div class="checkbox">
     			<label class="col-sm-2 control-label"> <input type="checkbox"> Friday</label>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start">
				</div>
					<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End">
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<div class="checkbox">
     			<label class="col-sm-2 control-label"> <input type="checkbox"> Saturday</label>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start">
				</div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End">
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<div class="checkbox">
     			<label class="col-sm-2 control-label"> <input type="checkbox"> Sunday</label>
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="Start">
				</div>
				<div class="col-sm-4">
					<input class="form-control" type="text" id="formGroupInputLarge" placeholder="End">
				</div>
			</div>
		</div>
	</form>
</div>


